.home-container {
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 30px;
  column-gap: 0px;
  width: 100%;
  row-gap: 50px
}

.box {
  background-color: #3156a7;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 120px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.box:hover {
  transform: scale(1.05);
  background-color: #1e40af;
}
body {
  background-color: #f3f4f6; /* light gray */
}
